.epic {
    border: 1px solid;
    margin-bottom: 1rem;
    box-shadow: -.25rem .25rem 0 black;
    border-radius: .5rem;
    background: white;
}
.epic > h3 {
    margin: 0;
    /* border-bottom: 1px solid; */
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 4rem;
    align-items: center;
}

.epic > h3 >  {
    /* justify-self: center; */
    font-size: .75rem;
    color: #636363;
    font-weight: 100;
}

.epic__issues > div {
    border-bottom: 1px solid;
}
.epic__issues > div:last-of-type {
    border: 0;
}
.epic__issues > div:first-of-type {
    border-top: 1px solid;
}
.epic__description {
    padding: 0 1rem;
}
.epic__description h1,
.epic__description h2,
.epic__description h3,
.epic__description h4,
.epic__description h5,
.epic__description h6 {
    font-size: 1rem;
}
.epic__action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
.epic__action button {
    height: 2rem;
}
