.epic {
    border: 1px solid;
    margin-bottom: 1rem;
    box-shadow: -.25rem .25rem 0 black;
    border-radius: .5rem;
    background: white;
}
.epic > h3 {
    margin: 0;
    /* border-bottom: 1px solid; */
    padding: 1rem;
    display: block;
    /* display: grid;
    grid-template-columns: auto 8rem; */
    align-items: center;
}

.epic__issues > div {
    border-bottom: 1px solid;
}
.epic__issues > div:last-of-type {
    border: 0;
}
.epic__issues > div:first-of-type {
    border-top: 1px solid;
}
.epic__description {
    padding: 0 1rem;
}
.epic__description h1,
.epic__description h2,
.epic__description h3,
.epic__description h4,
.epic__description h5,
.epic__description h6 {
    font-size: 1rem;
}
.epic__actions {
    padding: 1rem;
    padding-top: 0;
}
.epic__actions button {
    margin-right: .5rem;
}
