.Navigation h4 {
    margin: 0;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.Navigation ul {
    margin: 0;
    padding: 0;
}

.Navigation li {
    list-style: none;
    border-bottom: 1px solid;
    line-height: 2.5rem;
}
.Navigation li:last-of-type {
    border: 0;
}

.Navigation li:before {
    content: '⟶ ';
}
@media (max-width: 1024px) {

    .Navigation {
        background: white;
        padding: 2rem 0;
        margin: 0;
        box-shadow: 0 1px black;
    }
    .Navigation h4 {
        text-align: center;
    }
}