

.App-header {
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
  /* box-shadow: -.25rem .25rem 0 black; */
  border-radius: .5rem;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  width: 5rem;
  margin-right: 2rem;
}
.App-logo img {
  width: 100%;
}
.App-main {
  padding: 1rem;
}