@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 15rem;
  --header-height: 8rem;
  --header-width: 20rem;
  --content-width: min(100%, 72rem);
  --content-width-narrow: min(100%, 45rem);
  --form-width: 30rem;
  --content-height: calc(100vh - var(--header-height));

  --color: #bb6bd9;
  --background: #ffff00;
  --second: #0000ff;
  --third: #00ff00;
  --text: black;

  /* --card-background: #d9d9d9;
  --card-background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%); */

  /* --card-background: #6c7cff; */
  /* --card-foreground: #4c5be8; */
  --card-background: #a84acb;
  --card-foreground: var(--color);
  --card-action: #81339d;
}

@import "fonts/sporting-grotesque/font.css";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
}
html {
  font-size: 16px;
  line-height: 1.3;
}
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
div,
td,
th,
span,
li,
dd {
  font-family: "Sporting Grotesque_Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}
h1 {
  font-size: 3.5rem;
}
form {
  margin-bottom: 1rem;
}

.fieldGroup {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .fieldGroup {
  display: block;
  }
}
.fieldGroup {

}
.field {
  display: block;
  line-height: 2rem;
  flex: 1;
}
fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.field input,
.field textarea {
  font-size: 1rem;
  font-family: "Sporting Grotesque_Regular";
  line-height: 2rem;
  border: var(--color) 1px solid;
  border-radius: 0.15em;
  padding: 0 0.5rem;
  display: block;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  outline: none;
  margin-right: 0.5rem;
  width: 100%;
}
.field label {
  font-size: 0.75rem;
  display: block;
  text-align: left;
}
input:hover {
  color: var(--color);
}
input:focus {
  border-color: greenyellow;
}
.error {
  font-size: 0.5rem;
  color: red;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  display: inline-block;
  transform: translateX(0) translateY(0);
}
/* a:hover {
  color: var(--text);
  transform: translateY(-0.15rem) translateX(0.15rem);
} */
