:root {
  --sidebar-width: 15rem;
  --header-height: 8rem;
  --header-width: 20rem;
  --content-width: min(calc(100% - 4rem), 72rem);
  --content-width-narrow: min(calc(100% - 4rem), 45rem);
  --form-width: 30rem;
  --content-height: calc(100vh - var(--header-height));

  --color: #bb6bd9;
  --background: #ffff00;
  --second: #0000ff;
  --third: #00ff00;
  --text: black;

  --card-background: #d9d9d9;
  --card-background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

@import 'fonts/sporting-grotesque/font.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
}
html {
  font-size: 16px;
  line-height: 1;
}
body, html, p, h1, h2, h3, h4, h5, h6, address, div, td, th, span, li, dd {
  font-family: "Sporting Grotesque_Regular", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}

form {
  margin-bottom: 1rem;
}

form {
  padding: 1rem;
  max-width: var(--form-width);
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: -0.25rem 0.25rem 0 #00ff00;
  border-radius: 0.5rem;
  background-color: var(--card-background);
  background-image: var(--card-background-image);
}
form > h3 {
  margin: 0;
  padding: 1rem;
  display: block;
  align-items: center;
}
form button {
  margin: 1rem 0;
}

button,
.button {
  font-size: 0.75rem;
  justify-self: center;
  font-weight: 100;
  cursor: pointer;
  border: 0;
  display: inline-block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--text);
  color: #ffffff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.23);
  text-align: center;
  position: relative;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  outline: none;
}
button.primary,
.button.primary {
  background-color: var(--color);
}
button:hover {
  transform: translateY(-0.1rem);
}
.field {
  display: block;
  line-height: 2rem;
}
.field input,
.field textarea {
  font-size: 0.75rem;
  font-weight: 900;
  border: 1px solid;
  border-radius: 0.15em;
  padding: 0 0.5rem;
  display: block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  outline: none;
  margin-right: 0.5rem;
  width: 100%;
}
.field label {
  font-size: 0.75rem;
  display: block;
}
input:hover {
  color: var(--color);
}
input:focus {
  border-color: greenyellow;
}
.error {
  font-size: 0.5rem;
  color: red;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  display: inline-block;
  transform: translateX(0) translateY(0);
}
a:hover {
  color: var(--text);
  transform: translateY(-0.15rem) translateX(0.15rem);
}
