@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 15rem;
  --header-height: 8rem;
  --header-width: 20rem;
  --content-width: min(100%, 72rem);
  --content-width-narrow: min(100%, 45rem);
  --form-width: 30rem;
  --content-height: calc(100vh - var(--header-height));

  --color: #d88af5;
  --second: #3271bf;
  --third: #eedc0f;
  --fourth: #ffffff;
  --text: var(--color);
  --background: var(--second);
  --background-invert: var(--third);

  /* --card-background: #d9d9d9;
  --card-background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%); */

  /* --card-background: #6c7cff; */
  /* --card-foreground: #4c5be8; */
  --card-background: #a84acb;
  --card-foreground: var(--color);
  --card-action: #81339d;
}

@import "fonts/sporting-grotesque/font.css";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
}
html {
  font-size: 16px;
  line-height: 1.3;
}
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
textarea,
input,
td,
th,
li,
dd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--color);
}
h1,
h2,
h3,
h4,
th {
  font-family: "Sporting Grotesque_Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}
h1 {
  font-size: 3.5rem;
}
h5, h6 {
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}
h5 {
  font-size: .8rem;
}
h6 {
  font-size: .7rem;
}
form {
  margin-bottom: 1rem;
}

.fieldGroup {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .fieldGroup {
    display: block;
  }
}
.field {
  display: block;
  line-height: 2rem;
  flex: 1;
}
fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.field input,
.field textarea {
  font-size: 1rem;
  line-height: 2rem;
  border: var(--color) 1px solid;
  border-radius: 0.15em;
  padding: 0 0.5rem;
  display: block;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  outline: none;
  margin-right: 0.5rem;
  width: 100%;
}
.field label {
  font-size: 0.75rem;
  display: block;
  text-align: left;
}
.form .button {
  line-height: 2rem;
  font-size: 1rem;
  justify-self: center;
  font-weight: 100;
  padding: 0 1rem;
  cursor: pointer;
  border: 0;
  display: inline-block;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--text);
  color: #ffffff;
  text-align: center;
  position: relative;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  outline: none;
}
.form .button:hover {
  transform: translateY(-0.1rem);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.23);
}
input:hover {
  color: var(--color);
}
input:focus {
  border-color: var(--fourth);
}
.error {
  font-size: 0.5rem;
  color: red;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  display: inline-block;
  transform: translateX(0) translateY(0);
}
a:hover {
  color: var(--third);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassomorphism {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
  }
}
.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 3s linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

/* Design System */
.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.9rem;
}
.text-md {
  font-size: 1rem;
}
.text-xl {
  font-size: 1.5rem;
  line-height: 1.2;
}
.text-2xl {
  font-size: 2rem;
}
.text-3xl {
  font-size: 2.5rem;
}
.text-4xl {
  font-size: 3rem;
}
