body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color: #3369ff;
  --text: black;
}
p {
  line-height: 1.5rem;
}

button {
  font-size: .75rem;
  justify-self: center;
  font-weight: 100;
  cursor: pointer;
  border: 0;
  display: inline-block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--text);
  color: #FFFFFF;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.23);
  text-align: center;
  position: relative;
  transition: all .2s cubic-bezier(1, 0, 0, 1);
  outline: none;
}
button.primary {
  background-color: var(--color);
}
button:hover {
  transform: translateY(-.1rem);
}
.field {
  display: block;
  line-height: 2rem;
}
.field input {

  font-weight: 900;
  /* border: 1px solid; */
  border: 0;
  /* padding: 0 .5rem; */
  display: block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  transition: all .3s cubic-bezier(1, 0, 0, 1);
  outline: none;
  margin-right: .5rem;
  width: 100%;
}
.field label {
  font-size: .75rem;
  display: block;
}
input:hover {
  color: var(--color);
}
input:focus {
  border-color: greenyellow;
}
form button {
  margin: 1rem 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: all .2s cubic-bezier(1, 0, 0, 1);
  display: inline-block;
  transform: translateX(0) translateY(0);
}
a:hover {
  color: var(--text );
  transform: translateY(-.15rem) translateX(.15rem);
}