body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: .75rem;
  justify-self: center;
  font-weight: 100;
  cursor: pointer;
  border: 0;
  display: inline-block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
  transition: all .2s cubic-bezier(1, 0, 0, 1);
  outline: none;
}
button:hover {
  transform: translateY(-.1rem);
}