html {
  font-size: 20px;
}
@media (max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A9C9FF;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color: #3369ff;
  --second: #ff8d00;
  --text: black;
}
p {
  line-height: 1.5rem;
}

form {
  margin-bottom: 1rem;
}

form {
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: -0.25rem 0.25rem 0 black;
  border-radius: 0.5rem;
  background: white;
}
form > h3 {
  margin: 0;
  /* border-bottom: 1px solid; */
  padding: 1rem;
  display: block;
  /* display: grid;
  grid-template-columns: auto 8rem; */
  align-items: center;
}
form button {
  margin: 1rem 0;
}

button {
  font-size: 0.75rem;
  justify-self: center;
  font-weight: 100;
  cursor: pointer;
  border: 0;
  display: inline-block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--text);
  color: #ffffff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.23);
  text-align: center;
  position: relative;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  outline: none;
}
button.primary {
  background-color: var(--color);
}
button:hover {
  transform: translateY(-0.1rem);
}
.field {
  display: block;
  line-height: 2rem;
}
.field input,
.field textarea {
  font-size: 0.75rem;
  font-weight: 900;
  border: 1px solid;
  border-radius: 0.15em;
  padding: 0 0.5rem;
  display: block;
  line-height: 1.5rem;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  outline: none;
  margin-right: 0.5rem;
  width: 100%;
}
.field label {
  font-size: 0.75rem;
  display: block;
}
input:hover {
  color: var(--color);
}
input:focus {
  border-color: greenyellow;
}
.error {
  font-size: 0.5rem;
  color: red;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  display: inline-block;
  transform: translateX(0) translateY(0);
}
a:hover {
  color: var(--text);
  transform: translateY(-0.15rem) translateX(0.15rem);
}